.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    height: 9vh;
    width: 100vw;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    margin: 10px;
    text-decoration: none;
    color: #000;
}
.menu a:hover {
    color: rgb(179, 179, 179);
}

.main {
    padding-left: 50px;
    width: 100vw;
    height: 100vh;
    background-color: #fdffe8;
}

.section {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    margin-left: 17vw;
    padding: 45px;
    width: 20vw;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.form input {
	border-radius: 5px;
}

.result {
    color: red;
}

.textarea {
    margin-top: 5px;
    height: 20vh;
    border-radius: 5px;
}

.section-message {
    padding-left: 10vw;
    width: 25vw;
    font: 30px bold;
    color: grey;
}

.section-message-title {
    font-size: 110px;
}

.section-message-text {
    margin-top: -10vh;
}

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    height: 9vh;
    border-top: 1px solid #ccc;
}