.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
} /* flex-контейнер */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    height: 9vh;
    width: 100vw;
} /* хедер */

.menu {
    display: flex;
    align-items: center;
} /* навигация */

.menu a {
    margin: 10px;
    text-decoration: none;
    color: #000;
} /* ссылки навигации */
.menu a:hover {
    color: rgb(179, 179, 179);
} /* ссылки навигации при наведении */

.main {
    padding-left: 50px;
    width: 100vw;
    height: 100vh;
    background-color: #fdffe8;
} /* центральная секция */

.section {
    display: flex;
} /* центральная секция (форма + текст) */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    margin-left: 17vw;
    padding: 45px;
    width: 20vw;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
} /* форма обратной связи */

.form input {
	border-radius: 5px;
} /* поля ввода формы */

.textarea {
    margin-top: 5px;
    height: 20vh;
    border-radius: 5px;
} /* поле текста сообщения */

.result {
    color: red;
} /* сообщение об ошибке */

.section-message {
    padding-left: 10vw;
    width: 25vw;
    font: 30px bold;
    color: grey;
} /* секция текста страницы */

.section-message-title {
    font-size: 110px;
} /* заголовок текста страницы */

.section-message-text {
    margin-top: -10vh;
} /* текст страницы */

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    height: 9vh;
    border-top: 1px solid #ccc;
} /* футер */

/* медиа-запросы на планшет */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .header-title {
        font-size: 25px;
    } /* заголовок хедера */

    .main {
        background-color: #ffffff;
    } /* центральная секция */

    .section {
        margin-left: -10vw;
    } /* центральная секция (форма + текст) */

    .form {
        width: 30vw;
        height: 90vh;
        background-color: #fdffe8;
    } /* форма обратной связи */

    .section-message {
        margin: -22vh 0 0 -20vh;
        font-size: 22px;
    } /* секция текста страницы */

    .section-message-text {
        margin-top: -20vh;
    } /* текст страницы */

    .footer {
        margin-top: 40vh;
    } /* футер */
}

@media screen and (max-width: 767px) {

    .header-title {
        font-size: 20px;
    } /* заголовок хедера */
    
    .main {
        justify-content: center;
        height: 60vh;
        background-color: #ffffff;
    } /* центральная секция */

    .form, .section {
        height: 50vh;
    } /* форма обратной связи,  центральная секция (форма + текст)  */

    .section-form {
        justify-content: center;
        width: 100vw;
        height: 50vh;
    } /* секция формы */

    .form {
        margin-top: 10vh;
        width: 50vw;
        height: 50vh;
        background-color: #fdffe8;
    } /* форма обратной связи */

    .section-message {
        display: none;
    } /* секция текста страницы */

}